body {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

p {
    font-family: "Bad Script", cursive;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: auto;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s;
}

a:hover {
    border-color: currentColor;
    cursor: pointer;
}

ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}